{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
		  <div class="carousel-caption top-0 text-dark">
			<h5>First slide label</h5>
		  </div>
          <img src="{% static 'shopapp/i.png' %}" class="d-block w-100" />
        </div>
        <div class="carousel-item">
			<div class="carousel-caption top-0 text-dark">
			  <h5>Second slide label</h5>
			</div>
			  <img src="{% static 'shopapp/i.png' %}" class="d-block w-100" />
        </div>
        <div class="carousel-item">
			<div class="carousel-caption top-0 text-dark">
			  <h5>Third slide label</h5>
			</div>
			<img src="{% static 'shopapp/i.png' %}" class="d-block w-100" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
    <div class="row">
      <div class="col" style="background-color: aqua;">1 из 2</div>
      <div class="col-5" style="background-color: red;">2 из 2</div>
    </div>
  </div>
{% endblock %}

<!--   <div class="d-flex align-items-center flex-column justify-content-center gap-3">
    
    <a href="{{ url_for('products') }}" class="btn btn-light btn-lg btn-main">Новые телефоны</a>
    <a href="{{ url_for('products') }}" class="btn btn-light btn-lg btn-main">БУ телефоны</a>
    <a href="{{ url_for('sell_phone') }}" class="btn btn-light btn-lg btn-main">Выкуп техники</a>
</div>   -->
