{% extends 'base.html' %}
{% block content %}
<div class="card">
    <img src="{% static 'shopapp/i.png' %}" class="card-img-top" />
    <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><strong>{{ product.price }} ₽</strong></p>
        <a href="{{ url_for('add_to_cart', product_id=product_id) }}" class="btn btn-success">Добавить в корзину</a>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Назад</a>
    </div>
</div>
{% endblock %}
